{% extends "admin/base_site.html" %}
<!-- LOADING -->
{% load static i18n admin_modify admin_urls grp_tags %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../../jsi18n/' }}"></script>
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                grappelli.initDateAndTimePicker();
                $("#grp-content-container .grp-group").grp_collapsible_group();
                $("#grp-content-container .grp-collapse").grp_collapsible({
                    on_init: function(elem, options) {
                        // open collapse (and all collapse parents) in case of errors
                        if (elem.find("ul.errorlist").length > 0) {
                            elem.removeClass("grp-closed")
                                .addClass("grp-open");
                            elem.parents(".grp-collapse")
                                .removeClass("grp-closed")
                                .addClass("grp-open");
                        }
                    }
                });
                var related_lookup_fields_fk = {% get_related_lookup_fields_fk adminform.model_admin %};
                var related_lookup_fields_m2m = {% get_related_lookup_fields_m2m adminform.model_admin %};
                var related_lookup_fields_generic = {% get_related_lookup_fields_generic adminform.model_admin %};
                var autocomplete_fields_fk = {% get_autocomplete_lookup_fields_fk adminform.model_admin %};
                var autocomplete_fields_m2m = {% get_autocomplete_lookup_fields_m2m adminform.model_admin %};
                var autocomplete_fields_generic = {% get_autocomplete_lookup_fields_generic adminform.model_admin %};
                $.each(related_lookup_fields_fk, function() {
                    $("#id_" + this).grp_related_fk({lookup_url:"{% url 'grp_related_lookup' %}"});
                });
                $.each(related_lookup_fields_m2m, function() {
                    $("#id_" + this).grp_related_m2m({lookup_url:"{% url 'grp_m2m_lookup' %}"});
                });
                $.each(related_lookup_fields_generic, function() {
                    var content_type = "#id_" + this[0],
                        object_id = "#id_" + this[1];
                    $(object_id).grp_related_generic({content_type:content_type, object_id:object_id, lookup_url:"{% url 'grp_related_lookup' %}"});
                });
                $.each(autocomplete_fields_fk, function() {
                    $("#id_" + this).grp_autocomplete_fk({
                        lookup_url:"{% url 'grp_related_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $.each(autocomplete_fields_m2m, function() {
                    $("#id_" + this).grp_autocomplete_m2m({
                        lookup_url:"{% url 'grp_m2m_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $.each(autocomplete_fields_generic, function() {
                    var content_type = "#id_" + this[0],
                        object_id = "#id_" + this[1];
                    $(object_id).grp_autocomplete_generic({
                        content_type:content_type,
                        object_id:object_id,
                        lookup_url:"{% url 'grp_related_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $("a#grp-open-all").on("click", function(){
                    $("#grp-content .grp-collapse-handler").each(function() {
                        $(this).parent(".grp-collapse").removeClass("grp-closed").addClass("grp-open");
                    });
                });
                $("a#grp-close-all").on("click", function(){
                    $("#grp-content .grp-collapse-handler").each(function() {
                        $(this).parent(".grp-collapse").removeClass("grp-open").addClass("grp-closed");
                    });
                });
                // HACK: get rid of currently/change with URL–fields. F**K!!!
                {% block js_remove_url %}
                $('p.url').each(function() {
                    $(this).find("a").remove();
                    var text = $(this).html();
                    text = text.replace(/^\w*: /, "");
                    text = text.replace(/<br>.*: /, "");
                    $(this).html(text);
                });
                {% endblock %}
                // HACK: rearrange inlines
                {% block js_rearrange_inlines %}
                $('div.grp-group').each(function() {
                    var placeholder = $("fieldset.placeholder."+$(this).attr("id"));
                    if (placeholder.length) {
                        $(placeholder).replaceWith($(this));
                    }
                });
                {% endblock %}
                // HACK: remove input types
                {% block js_clean_input_types %}
                var clean_input_types = "{% grappelli_clean_input_types %}";
                if (clean_input_types == "True") {
                    grappelli.cleanInputTypes();
                };
                {% endblock %}
            });
        })(grp.jQuery);
    </script>
    {{ media }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').on("click", function(e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                $('.related-lookup').on("click", function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });
            {% if adminform and add %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            {% endif %}
            });
        })(grp.jQuery);
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} grp-change-form{% endblock %}
{% block content-class %}{% endblock %}

<!-- PAGE-TOOLS -->
{% block page-tools %}
    {% if not is_popup %}
        <ul>
            <li><a href="javascript://" class="grp-tool" id="grp-open-all" title="{% trans 'Open All Items' %}">&nbsp;</a></li>
            <li><a href="javascript://" class="grp-tool" id="grp-close-all" title="{% trans 'Close All Items' %}">&nbsp;</a></li>
        </ul>
    {% endif %}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
            <li>{% if has_change_permission %}
                {% url opts|admin_urlname:'changelist' as changelist_url %}
                <a href="{% add_preserved_filters changelist_url %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}
            {% endif %}</li>
            <li>{% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- OBJECT TOOLS -->
{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="grp-object-tools">
                {% block object-tools-items %}
                    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                    <li><a href="{% add_preserved_filters history_url %}">{% trans "History" %}</a></li>
                    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="grp-state-focus" target="_blank">{% trans "View on site" %}</a></li>{% endif%}
                {% endblock %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            <!-- Popup Hidden Field -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

            <!-- No Submit-Row on Top -->

            <!-- Errors -->
            {% if errors %}
                <p class="errornote">{% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</p>
                <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

              
            {% load grp_tags %}
            
                {% for fieldset in adminform %}

                {% spaceless %}
                    <fieldset class="module grp-module {{ fieldset.classes }}">
                        
                        {% if fieldset.name %}<h2 class="grp-collapse-handler">{{ fieldset.name }}</h2>{% endif %}
                        {% if fieldset.description %}<div class="grp-row"><p class="grp-description">{{ fieldset.description|safe }}</p></div>{% endif %}
                        {% for line in fieldset %}
                            <div class="form-row grp-row grp-cells-{{ line.fields|length }}{% if not line.fields|length_is:"1" %} grp-cells{% else %}{% if line.errors %} grp-errors{% endif %}{% endif %}{% if not line.has_visible_field %} grp-row-hidden{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %} ">
                                {% for field in line %}
                                
                                <!-- TARGET SCREEN -->
                                {% if field.field.name == 'target_screen' %} 
                                <div class="field-box grp-cell l-2c-fluid l-d-4 {{ field.field.name }}{% if field.field.errors %} grp-errors{% endif %}">
                                    <div class="c-1">{{ field.label_tag|prettylabel }}</div>
                                    <div class="c-2">
                                        <!-- {{ field.field }} -->
                                        {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                                        {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.field.errors }}{% endif %}

                                        <select name="target_screen" id="id_target_screen" onchange="onTargetSelectChange()">
                                            <option value="EMPT"{% if original.target_screen == "EMPT" %} selected="" {% endif %}>No target screen</option>
                                            <option value="FRMLS"{% if original.target_screen == "FRMLS" %} selected="" {% endif %}>Formulaes Screen</option>
                                            <option value="FRML_ID"{% if original.target_screen == "FRML_ID" %} selected="" {% endif %}>Selected Formulae</option>
                                            <option value="MTHDS"{% if original.target_screen == "MTHDS" %} selected="" {% endif %}>Methods Screen</option>
                                            <option value="MTHD_ID"{% if original.target_screen == "MTHD_ID" %} selected="" {% endif %}>Selected Method</option>
                                            <option value="TIMERS"{% if original.target_screen == "TIMERS" %} selected="" {% endif %}>Timers Screen</option>
                                            <option value="NOTES" {% if original.target_screen == "NOTES" %} selected="" {% endif %}>Notes Screen</option>
                                        </select>
                                    </div>
                                    </div>  
                                <!-- SELECTED ITEM -->
                                {% elif field.field.name == 'target_screen_id' %} 
                                <div style="visibility: hidden;" id="targed_screen_id_row" class="field-box grp-cell l-2c-fluid l-d-4 {{ field.field.name }}{% if field.field.errors %} grp-errors{% endif %}">
                                    <div class="c-1">{{ field.label_tag|prettylabel }}</div>
                                    <div class="c-2">
                                        <!-- {{ field.field }} -->
                                        {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                                        {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.field.errors }}{% endif %}

                                        <select name="target_screen_id" id="id_target_screen_id">
                                        </select>
                                    </div>
                                    </div>  
                                <!-- EVERY ELSE FIELD -->
                                {% else %}
                                {% if line.fields|length_is:"1" %}
                                <div class="field-box l-2c-fluid l-d-4">
                            {% else %}
                                <div class="field-box grp-cell l-2c-fluid l-d-4 {{ field.field.name }}{% if field.field.errors %} grp-errors{% endif %}">
                            {% endif %}
                                {% if field.is_checkbox %}
                                    <div class="c-1">&nbsp;</div>
                                    <div class="c-2">
                                        {{ field.field }}{{ field.label_tag|prettylabel }}
                                {% else %}
                                    <div class="c-1">{{ field.label_tag|prettylabel }}</div>
                                    <div class="c-2">
                                        {% if field.is_readonly %}
                                            <div class="grp-readonly">{{ field.contents }}</div>
                                        {% else %}
                                            {{ field.field }}
                                        {% endif %}
                                {% endif %}
                                    {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.field.errors }}{% endif %}
                                    {% if field.field.help_text %}
                                        <p class="grp-help">{{ field.field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                                {% endif %}

                              
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </fieldset>
                {% endspaceless %}


                {% endfor %}


            {% block after_field_sets %}{% endblock %}

            <!-- Inlines -->
            {% block inline_field_sets %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    {% include inline_admin_formset.opts.template %}
                {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            <!-- Submit-Row -->
            {% block submit_buttons_bottom %}{% submit_row %}
            <div>
            <a data-modal="modal-send-to-me" class="custom-btn" style="min-width: 180px;" ">Save and send push to me</a>  
            <a data-modal="modal-send-to-all" class="custom-btn" style="min-width: 180px;" ">Save and send push to all users</a>  
            <input id="sendMessageInput" type="submit" name="" style="display: none;"/>
        </div>
            {% endblock %}

            <!-- JS for prepopulated fields -->
            {% prepopulated_fields_js %}

        </div>
    </form>
    <!-- MODALS  -->
    <div class="modal" id="modal-send-to-me">
        <div class="modal-bg modal-exit"></div>
        <div class="modal-container">
            <div style="text-align: justify;">
                <span style="margin-right: 50%; font-size:18px">Are you sure?</span>
            </div>
            <h2 style=" margin-top: 10px; ">Send notification to current user?</h2>
            <br />
            <div style="display:flex; justify-content: space-between;">
                <button class="custom-btn modal-close modal-exit" style="min-width: 80px;">Cancel</button>
                <button class="custom-btn" style="min-width: 80px;" onclick="sendMessage('_save_and_send_test_to_me')" >Send!</button>
            </div>
        </div>
    </div>
    <div class="modal" id="modal-send-to-all">
        <div class="modal-bg modal-exit"></div>
        <div class="modal-container">
            <div style="text-align: justify;">
                <span style="margin-right: 50%; font-size:18px">Are you sure?</span>
            </div>
            <h2 style=" margin-top: 10px; ">Send notification to all active devices?</h2>
            <br />
            <div style="display:flex; justify-content: space-between;">
                <button class="custom-btn modal-close modal-exit" style="min-width: 80px;">Cancel</button>
                <button class="custom-btn" style="min-width: 80px;" onclick="sendMessage('_save_and_send_to_all')" >Send!</button>
            </div>
        </div>
    </div>

    {{ formulas|json_script:"formulas-data" }}
    {{ methods|json_script:"methods-data" }}
    <script>

        function sendMessage(post_value){
            const input = document.getElementById('sendMessageInput');
            input.name=post_value;
            input.click();
        }

        const formulas= JSON.parse(document.getElementById('formulas-data').textContent);
        const methods= JSON.parse(document.getElementById('methods-data').textContent);

        function onTargetSelectChange() {
            const targetScreenSelect = document.getElementById('id_target_screen')
            const targetScreenRow = document.getElementById('targed_screen_id_row')
            switch (targetScreenSelect.value){
                case 'FRML_ID': {
                    targetScreenRow.style.visibility = "visible"
                    replaceOptions(formulas);
                    return;
                }
                case 'MTHD_ID': {
                    targetScreenRow.style.visibility = "visible"
                    replaceOptions(methods)
                    return
                }
                default: {
                    targetScreenRow.style.visibility = "hidden"
                    return
                }
            }
        }

        function replaceOptions(optionsArray){
            const selectId = document.getElementById("id_target_screen_id")
            selectId.innerHTML = '';
            optionsArray.forEach((opt)=>{
                var htmlOption = document.createElement('option');
                htmlOption.value = opt.pk;
                htmlOption.innerHTML = opt.name;
                selectId.appendChild(htmlOption);
            })
        }

        document.addEventListener("DOMContentLoaded", function(event) { 
            const targetScreenSelect = document.getElementById('id_target_screen');
            const selectId = document.getElementById("id_target_screen_id")
            if (targetScreenSelect.value == 'FRML_ID' || targetScreenSelect.value == 'MTHD_ID')
            {
                const targetScreenRow = document.getElementById('targed_screen_id_row');
                targetScreenRow.style.visibility = "visible";
                replaceOptions(targetScreenSelect.value == 'FRML_ID' ? formulas : methods);
                selectId.value = '{{original.target_screen_id}}';
                console.log(selectId.value)
                return;
            }
          });
          const modals = document.querySelectorAll('[data-modal]');

          modals.forEach(function (trigger) {
            trigger.addEventListener('click', function (event) {
              event.preventDefault();
              const modal = document.getElementById(trigger.dataset.modal);
              modal.classList.add('open');
              const exits = modal.querySelectorAll('.modal-exit');
              exits.forEach(function (exit) {
                exit.addEventListener('click', function (event) {
                  event.preventDefault();
                  modal.classList.remove('open');
                });
              });
            });
          });
    </script>
    <style>
        .custom-btn{
            text-align: center;
            display:inline-block;
            margin:0 !important;
            padding:5px;
            height:28px;
            -moz-border-radius:5px !important;
            -webkit-border-radius:5px;
            border-radius:5px !important;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
            cursor:pointer;
            overflow:hidden;
            vertical-align:top;
            color:#fff;
            border:1px solid #2b8aab;
            background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmYjJkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMwOWJiZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background-size:100%;
            background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb2d3),color-stop(100%, #309bbf));
            background-image:-moz-linear-gradient(#4fb2d3,#309bbf);
            background-image:-webkit-linear-gradient(#4fb2d3,#309bbf);
            background-image:linear-gradient(#4fb2d3,#309bbf)
        }
        .modal {
            position: fixed;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .open {
              visibility: visible;
              opacity: 1;
              transition-delay: 0s;
            }
            .modal-bg {
              position: absolute;
              background: teal;
              width: 100%;
              height: 100%;
            }
            .modal-container {
              border-radius: 10px;
              background: #fff;
              position: relative;
              width: 250px;
              padding: 10px;
            }
            .close {
              position: absolute;
              left: 5px;
              top: 15px;
              outline: none;
              appearance: none;
              color: red;
              background: none;
              border: 0px;
              font-weight: bold;
              cursor: pointer;
            }
          
    </style>
{% endblock %}


