<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Lab Partner </title>
</head>
<body>
</br></br>
{% for message in custom_messages %}
<p class="-div message">{{ message }}</p>
{% endfor %}
</body>
</html>

<style>
    .message{
        text-align: center;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        color: #004085;
        background-color: #cce5ff;

        border-color: #b8daff;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: .25rem;
    }
</style>