<!DOCTYPE html>
<html>
<head>
    <title>Reset password form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
        .validation{
            color: #D63301;
            background-color: #FFCCBA;
        }
        html, body {
            display: flex;
            justify-content: center;
            font-family: Roboto, Arial, sans-serif;
            font-size: 15px;
        }

        form {
            border: 5px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 16px 8px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #176e82;
            color: white;
            padding: 14px 0;
            margin: 10px 0;
            border: none;
            cursor: grabbing;
            width: 100%;
        }

        h1 {
            text-align: center;
            fone-size: 18;
        }

        button:hover {
            opacity: 0.8;
        }

        .formcontainer {
            text-align: left;
            margin: 24px 50px 12px;
        }

        .container {
            padding: 16px 0;
            text-align: left;
        }

        span.psw {
            float: right;
            padding-top: 0;
            padding-right: 15px;
        }

        /* Change styles for span on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }
        }
    </style>
</head>
<div>
    <form method="post">
        <h1>Change password form</h1>
        <div class="formcontainer">
            <hr/>
            <div class="container">
                <label for="uname"><strong>New password</strong></label>
                <input type="password" placeholder="Enter new password" name="new_password" class="pass-input" required>
                <label for="psw"><strong>New password confirmation</strong></label>
                <input type="password" placeholder="Confirm new password" name="re_new_password" class="pass-input"
                       required>
            </div>
            <input type="checkbox" onclick="hidePasswordButton()"> Show password </input>
            <div class="validation">
                {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                                <a class="close" data-dismiss="alert">×</a>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </div>
            <button type="submit">Change password</button>
        </div>
    </form>
</div>
</body>
</html>

<script>
    function hidePasswordButton() {
        var pass_inputs = document.getElementsByClassName("pass-input");
        for (let i in pass_inputs) {
            if (pass_inputs[i].type === "password") {
                pass_inputs[i].type = "text";
            } else {
                pass_inputs[i].type = "password";
            }
        }
    }
</script>